html {
  box-sizing: border-box; /*свойства width и height задавают размеры не контента, а размеры блока*/
}
/*для хрома убирает полосу прокрутки, надо подумать, как сделать для остальных браузеров*/
::-webkit-scrollbar {
  width: 0px;
}

body, html { 
  width: 100vw;
  height: 2800px;

}
a {
  text-decoration: none;
  cursor: url(https://html5book.ru/wp-content/uploads/2015/09/fox.png), pointer;
}
nav {
  box-shadow: 0 2px 10px 2px rgba(0, 0, 0, 0.3); /*подсветочка внизу*/
  background: #6d6d6d; /*цвет фона*/
  text-align: center;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /*если хотите зафиксировать навигацию по всему документу*/
  /*position: fixed;
  top: 0px;*/
}
h1, h2, h3, p{
  padding-left: 15px;
}
body {
  line-height: 35px; /*устанавливает величину пространства между строками*/
  font-size: 20px; /*размер шрифта*/
  font-family: sans-serif; /*шрифт без засечек*/
  background-color: white; /*цвет основного фона*/

  cursor: url(https://html5book.ru/wp-content/uploads/2015/09/fox.png), pointer; /*нужен листик, как у Леры*/
  display: block; /*прописан в normalize.css, но лучше продублировать*/

}

header{
  background-color: #F5F5F5	;
  background-position: center; /*позиция (положение) фона, это на случай видео, например*/
  background-repeat: no-repeat; /*отменить повторение фона*/
 /* background-image: url(./img.jpg); путь к фоновому изображению
  opacity: 0.5; прозрачность*/
  /*пусть будет на целый экран*/
  width: 100vw;
  height: 100vh;
  position: relative;
}
footer {
  background-color: #6d6d6d;
  color: black;
  text-align: left; /*расположить текст слева*/
  padding: 5px 0px 5px 0; /*тут мы просто задаем размер футеру*/
}
table {
  margin: auto; /* Выравниваем таблицу по центру окна  */
}

.nav{
  color: #fff; /*класс создан конкретно для цвета текста навигации, если не продублировать, ссылка будет светиться*/
  width: 20%;
  text-align: center;
  margin: 0 3px 0 3px;
}
/*пусть наша навигация красиво подсвечивается при наведении*/
.nav:hover{
  background: #53ea93;
  color: black;
  border-radius: 2%; /*чуть сгладим углы*/
}
/*класс отвечает за расположение названия и логотипа*/
.promo{
  margin-top: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.logo{
  width: 20%;
  vertical-align: middle;
  float: left;
}
.title {
  float: right;
  width: 60%;
  text-align: center;
  padding: 3% 0 0 3%;
}
/*следующие 2 класса для названия, отвечают в основном за шрифт*/
.title1{
  font-size: 102px;
  font-family: 'Arial' sans-serif;
  font-weight: 100; /*насыщенность шрифта*/
  font-style: normal;
}
.title2{
  font-size: 50px; 
  font-family: 'Arial' sans-serif;
  font-weight: 100; /*насыщенность шрифта*/
  font-style: normal;
  margin-top: -20px; /*придвинем слоган ближе к названию*/
  line-height: 0.9; /*устанавливает величину пространства между строками*/
  text-align: center;
}
/*класс для подзаголовков, которые помогут в переходе между блоками*/
.textbox1{
  width: 100vw;
  padding: 5% 0 5% 0;
  text-align: center;
  background: lightgreen;
  margin: 5% 0 5% 0;
  position: relative;
}
.section1{
  position: relative;
  width: 100vw;
  height: 100vh;

}
.block_info{
  margin: 5% 5% 5% 5%;
  text-align: center;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.block1_info{
  width: 30%;
  height: 350px;
  float: left;
  position: relative;
   
}

.text1{
  width: 25%;
  height: 280px;
  min-height: 100px;
  float: left;
  position: relative;
  background:#6d6d6d;
  margin: 0 2.5% 0 2.5%;
  /*для шрифта*/
  color:#fff;
  font-family:Arial, Helvetica, sans-serif;
  font-weight:100;
  font-size:1.0em;
}
/*блок для картинок с возможностями робота*/
.block2{
  width: 40vw;
  height: 50vh;
}

/*сделаем анимацию, пусть увеличивается картинка при наведении*/
.block1_info:hover{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.block2:hover{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.product{
  text-align: center;
  background:lightgrey;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.image_group{
  width: 100vw;
  height: 100vh;
  background-image: url(./image/Group.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.section2{
  margin: 5% 0 5% 0;
  background: lightgrey;
  padding: 5% 0 3% 0;
  position: relative;
}
.section3 {
  position: relative;
  height: 50vh;  /*это высота каждого из 3-х блоков с информацией о боте*/
 
}
.block{
  margin: 5% 0 5% 0;
  text-align: center;

}
.block1{
  width: 25%; /*ибо 4 в ряд*/
  height: 350px;
  float: left;
  position: relative;

}
.block_command{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.doc{
    position: relative;
    float: left;      
    width: 45vw;
    height: 50vh;
  
    color:black;
    margin: 0 2.5% 0 2.5%; /*на один блок 45% ширины, блока 2, остается 20 %, чтобы было по центру,
                              справа и слева отступим по 2.5% от каждого блока*/
  
}
